
	GtkLabel {
		font: 10pt Roboto;
	}
	
	#OPTION_LABEL {
		font: 10pt Roboto Light;

	}

	#OUTPUT_LABEL {

		color: #3366cc;
		font: 10pt Roboto Bold;

	}

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: 11pt Roboto Bold; 
	}

	#MSG_LABEL {

		color: #3366cc;
		font: 11pt Roboto Bold;
			
	}	

		
    #WINDOW{
		
		background-color: #f1f1f1;
		
	}

	

	
